@use './partials/variables' as *;
@use './partials/mixins' as *;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fontsource/markazi-text';
@import 'node_modules/@fontsource/roboto';
@import 'node_modules/@fontsource/khula';
@import 'node_modules/@fontsource/open-sans';

@import 'node_modules/@forteawesome/fonteawesome-free/css/all.min.css';

body {
  font-family: $list-font;
  background-color: white;
  color: black
}